<div class="page-breadcrumb">
	<div fxLayout="row wrap" fxLayoutAlign="space-between center">
		<div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" class="align-self-center">
			<div class="breadcrumb d-flex align-items-left float-left float-sm-left">
				<ul class="list-style-none d-flex align-items-left">
					<li class="breadcrumb-item cursor-pointer" (click)="navigate()">
						<span class="text-muted">Home</span>
					</li>
					<li class="breadcrumb-item active">Contact us</li>
				</ul>
			</div>
		</div>
		 <button mat-button class="m-r-10" [matMenuTriggerFor]="dateFormats">{{ today | date: getFormat() }}</button>
	</div>
</div>
<mat-menu #dateFormats="matMenu" class="mymegamenu">
	<button mat-menu-item (click)="changeFormat('MM/dd/yyyy')">{{ today | date:'MM/dd/yyyy' }}</button>
	<button mat-menu-item (click)="changeFormat('M/dd/yyyy')">{{ today | date:'M/dd/yyyy' }}</button>
	<button mat-menu-item (click)="changeFormat('dd/MM/yyyy')">{{ today | date:'dd/MM/yyyy' }}</button>
	<button mat-menu-item (click)="changeFormat('d/MM/yyyy')">{{ today | date:'d/MM/yyyy' }}</button>
	<button mat-menu-item (click)="changeFormat('yyyy/dd/MM')">{{ today | date:'yyyy/dd/MM' }}</button>
	<button mat-menu-item (click)="changeFormat('yyyy/d/M')">{{ today | date:'yyyy/d/M' }}</button>
	<button mat-menu-item (click)="changeFormat('MMM d, y')">{{ today | date:'MMM d, y' }}</button>
	<button mat-menu-item (click)="changeFormat('d MMM, y')">{{ today | date:'d MMM, y' }}</button>
	<button mat-menu-item (click)="changeFormat('y MMM, d')">{{ today | date:'y MMM, d' }}</button>
	<button mat-menu-item (click)="changeFormat('EEEE, MMMM d, y')">{{ today | date:'EEEE, MMMM d, y' }}</button>
	<button mat-menu-item (click)="changeFormat('MMMM d, y, EEEE')">{{ today | date:'MMMM d, y, EEEE' }}</button>
</mat-menu>
<div class="page-content">
    <div style="width: 100%;">
        <mat-card class="section-title no-shadow" style="box-shadow: none !important; margin-bottom: 0 !important;">
            <mat-card-content class="p-0">
                <div fxLayout="row wrap">
                    <div fxFlex.gt-lg="65" fxFlex.gt-md="55" fxFlex="100">
                        <mat-card-title style="font-size:20px;"><span class="m-r-5">Contact us </span> <mat-icon class="absolute" (click)="titleShow = !titleShow" style="color: #D3CDC6;cursor: pointer;" title="Please fill the details to contact us">help_outline</mat-icon> </mat-card-title>
                        
                        <mat-card-subtitle *ngIf="titleShow" style="margin-bottom: 0 !important;">Please fill the details to contact us</mat-card-subtitle>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-card class="graph-section">
        <mat-card-content style="height:350px!important;">
            <form class="font-14" [formGroup]="contactForm">
                <div fxLayout="row wrap">
                    <div fxFlex.gt-md="33.33" fxFlex="100" class="p-r-10">
                        <p class="m-b-0">Select country</p>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="country">
                                <mat-option [value]="country.value" *ngFor="let country of countries">{{country.label}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-md="33.33" fxFlex="100" class="p-r-10">
                        <p class="m-b-0">First name</p>
                        <mat-form-field appearance="outline">
                            <input placeholder="first name" type="text" matInput required formControlName="firstName" />
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-md="33.33" fxFlex="100" class="p-r-10">
                        <p class="m-b-0">Last name</p>
                        <mat-form-field appearance="outline">
                            <input placeholder="last name" type="text" matInput required formControlName="lastName"/>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row wrap">
                    <div fxFlex.gt-md="33.33" fxFlex="100" class="p-r-10">
                        <p class="m-b-0">Email</p>
                        <mat-form-field appearance="outline">
                            <input placeholder="Email" type="text" matInput required formControlName="email"/>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-md="66.66" fxFlex="100" class="p-r-10" *ngIf="user.user_type === 'Caregiver'">
                        <p class="m-b-0">What is your enquiry about?</p>
                        <mat-form-field appearance="outline">
                            <mat-select required formControlName="question">
                                <mat-optgroup label="wearable">
                                    <mat-option value="Physical damage">Physical damage</mat-option>
                                    <mat-option value="Lost wearable">Lost wearable</mat-option>
                                    <mat-option value="Wearable data">Wearable data</mat-option>
                                    <mat-option value="Performance issues">Performance Issues</mat-option>
                                </mat-optgroup>
                                <mat-optgroup label="Charging station">
                                    <mat-option value="Charge wearable">Charge wearable</mat-option>
                                    <mat-option value="Physical Damage">Physical damage</mat-option>
                                    <mat-option value="Lost charging station">Lost charging station</mat-option>
                                    <mat-option value="Performance Issues">Performance Issues</mat-option>
                                </mat-optgroup>
                                <mat-optgroup label="Dashboard">
                                    <mat-option value="Dashboard questions">Dashboard questions</mat-option>
                                </mat-optgroup>
                                <mat-optgroup label="--">
                                    <mat-option value="Others">Other</mat-option>
                                </mat-optgroup>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row wrap">
                    <div fxFlex.gt-md="100" fxFlex="100" class="p-r-10">
                        <p class="m-b-0">Message</p>
                        <mat-form-field appearance="outline">
                            <textarea placeholder="Message" matInput formControlName="message" required matTextareaAutosize style="min-height: 35px;"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="form-actions" fxLayoutAlign="end center">
                <button mat-button   (click)="navigate()">Cancel</button>
                <button mat-raised-button (click)="sendQuestion()" [disabled]="contactForm.invalid || !contactForm.dirty" color="accent" class="add-button border-none">Submit</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>