.commented_by {
    color: #015174;
    // width: 100%;
}
.comment_date {
    font-size: 12px;
    margin-left: auto;
    // width: 100%;
    text-align: right;
}
.comment {
    width: 100%;
    margin-top: 8px;
    // width: calc(100% - 80px);
    // padding: 0 16px;
}
.comment_rw {
    // display:flex;
    margin-top: 8px;
}
.intervention_comments {
    overflow-y: scroll;
    height: 30vh;
}
.comment_meta {
    display: flex;
    align-items: center;
    span {
        color: #015174;
    }
}