<div class="page-breadcrumb">
	<div fxLayout="row wrap" fxLayoutAlign="space-between center">
		<div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" class="align-self-center">
			<div class="breadcrumb">
				<ul class="list-style-none d-flex">
					<li class="breadcrumb-item cursor-pointer" routerLink="/ssa/dashboard">
						<span class="text-muted">Dashboard</span>
					</li>
                    <li class="breadcrumb-item cursor-pointer" routerLink="/ssa/customers">
                        <span>Customers</span>
                    </li>
					<li class="breadcrumb-item active">{{customerDetails.name}}'s overview</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="main-section ward-view resident-view p-24 commonaddpage">
    <div class="popover__wrapper">
        <span class="second-title font-24 m-r-5">{{ customerDetails.name }}</span> 
        <!-- <mat-icon class="absolute help-text-hover-cont popover__title" style="color: #D3CDC6;cursor: pointer;position: absolute;top: 3px;">info_outline</mat-icon>
        <div class="popover__content">
            <h4 class="second-title popover__heading m-b-10">{{ customerDetails.name }}</h4>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
                <p fxFlex="50">Number of facilities: {{customerDetails.nFacilities}}</p>
                <p fxFlex="50">Number of wards: {{customerDetails.nWards}}</p>
                <p fxFlex="50">Registered caregivers: {{customerDetails.registeredCaregivers}}</p>
                <p fxFlex="50">Registered residents: {{customerDetails.registeredResidents}}</p>
                <p fxFlex="50">Registered wearables: {{customerDetails.registeredWearables}}</p>
            </div>
        </div> -->
    </div>
  <div class="overview-info" fxLayoutAlign="start center" fxLayoutGap="1.5em">
    <div class="" title="Contact person: {{customerDetails.contactName}}" fxLayoutAlign="start center" fxLayoutGap="0.2em">
      <mat-icon color="accent">person_pin</mat-icon>
      <p style="font-weight: 500; margin-left: 5px;" class="arjoblue">{{customerDetails.contactName}}</p>
    </div>
    <div class="" title="Customer address: {{customerDetails.customerAddress}}" fxLayoutAlign="start center" fxLayoutGap="0.2em">
        <mat-icon color="accent">business</mat-icon>
        <p style="font-weight: 500; margin-left: 5px;" class="arjoblue">{{customerDetails.customerAddress}}</p>
    </div>
    <div class="" fxLayoutAlign="start center" title="Contact number: {{customerDetails?.contactPhone}}" fxLayoutGap="0.2em">
        <mat-icon color="accent">contact_phone</mat-icon>
        <p style="font-weight: 500; margin-left: 5px;">{{customerDetails?.contactPhone}}</p>
    </div>
    <div class="cursor-pointer" fxLayoutAlign="start center" fxLayoutGap="0.2em" (click)="editCustomer()">
        <mat-icon color="accent">edit_road</mat-icon>
        <p style="font-weight: 500; margin-left: 5px;">Edit customer</p>
    </div>
  </div>
  <mat-tab-group mat-align-tabs="left" [selectedIndex]="selectedTab" (selectedTabChange)="onChangeTab($event)">
    <mat-tab label="CUSTOMER OVERVIEW">
      <div class="ssa-flow m-t-20">
        <div fxLayout="row wrap">
            <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
                <app-quick-summary [type]="'customer'"></app-quick-summary>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
                <app-user-statistics [type]="'customer'"></app-user-statistics>
            </div>
            <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
                <app-resident-statistics [type]="'customer'"></app-resident-statistics>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
                <app-battery-statistics [type]="'customer'"></app-battery-statistics>
            </div>
            <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
                <app-residents-summary-dash [type]="'customer'"></app-residents-summary-dash>
            </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="FACILITY DETAILS">
        <div fxLayout="row nowrap" fxLayoutAlign="end center" fxLayoutGap="0.8em" class="m-t-15">
            <button class="add-button" mat-flat-button color="accent" (click)="addFacility()">
                <mat-icon>add</mat-icon><span>Add new facility</span>
            </button>
        </div>
        <div class="" *ngIf="facilityTableData.length > 0" style="min-height: 350px;">
            <app-table
                [actionEnable]="false"
                [hoverAction]="[true, false]"
                (selectedValue)="navigate($event)"
                [isLoading]="isLoading.facility"
                [widths]="facilityWidths"
                [displayedColumns]="facilityDisplayedColumns"
                [actions]="['click']"
                [initial]="initial.facility"
                [tableData]="facilityTableData"
                [tableType]="'facility'"
            ></app-table>
        </div>
        <div *ngIf="facilityTableData.length < 1 && !isLoading.facility" fxLayoutAlign="center center" style="width: 100%; height: calc(100vh - 275px)">
            <div class="display-card" fxLayoutAlign="center center">
              <p class="text text-center m-0">There is no facility added to this customer yet.Please add <strong>facility</strong> for this customer</p>
            </div>
        </div>
        <div class="preloader" *ngIf="isLoading.facility" fxLayoutAlign="center center"
              [ngStyle]="{'background-color': 'unset', position: 'unset', height: '350px'}">
          <div class="spinner" [ngStyle]="{margin: 'unset', top: 'unset'}">
              <img alt="loading.." src="assets/images/loading.gif" width="40px" height="40px" />
          </div>
      </div>
    </mat-tab>
    <mat-tab label="WARD DETAILS">
        <div fxLayout="row nowrap" fxLayoutAlign="end center" fxLayoutGap="0.8em" class="m-t-15">
            <form [formGroup]="wardFilterForm" *ngIf="facilityList.length > 0 && wardBefore.length > 0">
                <div class="form-field" style="width: 322px;">
                    <mat-form-field appearance="outline">
                        <mat-select value="" formControlName="facility_id" multiple #select>
                            <input matInput class="select-search" type="text" placeholder="Search facility" formControlName="facilitySearch" />
                            <mat-select-trigger>
                                <ng-container *ngIf="facilityIds.length < 2 && facilityIds.length > 0">
                                    <span>{{facilityIds? (facilityIds[0]=== '' ? 'Select facility' : getFacilityById(facilityIds[0])) : ''}}</span>
                                </ng-container>
                                <ng-container *ngIf="facilityIds.length > 1">
                                    <ng-container *ngFor="let ward of facilityIds;let i =index">
                                        <span class="selected" *ngIf="i < 2">{{getFacilityById(ward)}}</span>
                                    </ng-container>
                                </ng-container>
                                <span *ngIf="facilityIds?.length > 2" class="selected">
                                (+{{facilityIds.length - 2}} {{facilityIds?.length === 3 ? 'other' : 'others'}})
                                </span>
                              </mat-select-trigger>
                            <mat-option disabled value="">Select facility</mat-option>
                            <mat-option [value]="facility.facility_id" *ngFor="let facility of getFilterFacilities()">{{facility.facility_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
            <button mat-flat-button class="add-button" color="accent" (click)="clearWardFilters()" *ngIf="showWardClear()">
                Clear
            </button>
            <button class="add-button" mat-flat-button color="accent" (click)="addWard()">
                <mat-icon>add</mat-icon><span>Add new ward</span>
            </button>
        </div>
        <div class="" style="min-height: 350px;" *ngIf="wardTableData.length > 0">
            <app-table
                [hoverAction]="[true, true]"
                [actionEnable]="false"
                [isLoading]="isLoading.ward"
                [widths]="wardWidths"
                [tableType]="'ward'"
                (selectedValue)="navigate($event)"
                [actions]="['click', 'click']"
                [displayedColumns]="wardDisplayedColumns"
                [tableData]="wardTableData"
                [initial]="initial.ward"
                [Filtered]="filtered.ward"
            ></app-table>
        </div>
        <ng-container *ngIf="wardTableData.length < 1">
            <ng-container *ngIf="filtered.ward">
                <app-table
                    [hoverAction]="[true, true]"
                    [actionEnable]="false"
                    [isLoading]="isLoading.ward"
                    [widths]="wardWidths"
                    [tableType]="'ward'"
                    (selectedValue)="navigate($event)"
                    [actions]="['click', 'click']"
                    [displayedColumns]="wardDisplayedColumns"
                    [tableData]="wardTableData"
                    [initial]="initial.ward"
                    [Filtered]="filtered.ward"
                ></app-table>
            </ng-container>
            <ng-container *ngIf="!filtered.ward">
                <div *ngIf="!isLoading.ward" fxLayoutAlign="center center" style="width: 100%; height: calc(100vh - 275px)">
                    <div class="display-card" fxLayoutAlign="center center">
                        <p class="text text-center m-0">There is no ward added to this customer yet.Please add <strong>ward</strong> for this customer</p>
                    </div>
                </div>
                <div class="preloader" *ngIf="isLoading.ward" fxLayoutAlign="center center"
                        [ngStyle]="{'background-color': 'unset', position: 'unset', height: '350px'}">
                    <div class="spinner" [ngStyle]="{margin: 'unset', top: 'unset'}">
                        <img alt="loading.." src="assets/images/loading.gif" width="40px" height="40px" />
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </mat-tab>
    <mat-tab label="WEARABLES DETAILS">
        <div fxLayout="row nowrap" fxLayoutAlign="end center" fxLayoutGap="0.8em" class="m-t-15">
            <form [formGroup]="wearableFilterForm" *ngIf="facilityList.length > 0 && wearableBefore.length > 0">
                <div fxLayoutAlign="start center" fxLayoutGap="0.8em">
                    <div class="form-field" style="width: 320px;">
                        <mat-form-field appearance="outline">
                            <mat-select value="" formControlName="facility_id" multiple #weaFaSelect>
                                <input matInput class="select-search" type="text" placeholder="Search facility" formControlName="facilitySearch" />
                                <mat-select-trigger>
                                    <ng-container *ngIf="wearableFacilityIds.length < 2 && wearableFacilityIds.length > 0">
                                        <span>{{wearableFacilityIds? (wearableFacilityIds[0]=== '' ? 'Select facility' : getFacilityById(wearableFacilityIds[0])) : ''}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="wearableFacilityIds.length > 1">
                                        <ng-container *ngFor="let ward of wearableFacilityIds;let i =index">
                                            <span class="selected" *ngIf="i < 2">{{getFacilityById(ward)}}</span>
                                        </ng-container>
                                    </ng-container>
                                    <span *ngIf="wearableFacilityIds?.length > 2" class="selected">
                                    (+{{wearableFacilityIds.length - 2}} {{wearableFacilityIds?.length === 3 ? 'other' : 'others'}})
                                    </span>
                                  </mat-select-trigger>
                                <mat-option disabled value="">Select facility</mat-option>
                                <mat-option [value]="facility.facility_id" *ngFor="let facility of getWFilterFacilities()">{{facility.facility_name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-field" style="width: 322px;" *ngIf="(wearableFacilityIds.length < 2 && wearableFacilityIds.length > 0 && wearableFacilityIds[0] !== '') || wearableFacilityIds.length > 1">
                        <mat-form-field appearance="outline">
                            <mat-select value="" formControlName="ward_id" multiple #weaWaSelect>
                                <input matInput class="select-search" type="text" placeholder="Search ward" formControlName="wardSearch" />
                                <mat-select-trigger>
                                    <ng-container *ngIf="wardIds.length < 2 && wardIds.length > 0">
                                        <span>{{wardIds? (wardIds[0]=== '' ? 'Select ward' : getWardById(wardIds[0])) : ''}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="wardIds.length > 1">
                                        <ng-container *ngFor="let ward of wardIds;let i =index">
                                            <span class="selected" *ngIf="i < 2">{{getWardById(ward)}}</span>
                                        </ng-container>
                                    </ng-container>
                                    <span *ngIf="wardIds?.length > 2" class="selected">
                                    (+{{wardIds.length - 2}} {{wardIds?.length === 3 ? 'other' : 'others'}})
                                    </span>
                                  </mat-select-trigger>
                                <mat-option disabled value="">Select ward</mat-option>
                                <mat-option [value]="ward.ward_id" *ngFor="let ward of getIFilterWards(getFilterWards())">{{ward.ward_name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <button mat-flat-button class="add-button" color="accent" (click)="clearWearableFilters()" *ngIf="showWearableClear()">
                Clear
            </button>
            <button class="add-button" mat-flat-button color="accent" (click)="addWearable()">
                <mat-icon>add</mat-icon><span>Add new wearable</span>
            </button>
        </div>
        <div class="" style="min-height: 350px;" *ngIf="wearableTableData.length > 0">
            <app-table
            [hoverAction]="[true, true]" 
              [actionEnable]="false"
              (selectedValue)="navigate($event)"
              [isLoading]="isLoading.wearable"
              [widths]="wearableWidths"
              [Filtered]="filtered.wearable"
              [actions]="['click', 'click']"
              [tableType]="'wearable'"
              [initial]="initial.wearable"
              [displayedColumns]="wearableDisplayedColumns"
              [tableData]="wearableTableData"
            ></app-table>
        </div>
        <ng-container *ngIf="wearableTableData.length < 1">
            <ng-container *ngIf="filtered.wearable">
                <app-table
                    [hoverAction]="[true, true]" 
                    [actionEnable]="false"
                    (selectedValue)="navigate($event)"
                    [isLoading]="isLoading.wearable"
                    [widths]="wearableWidths"
                    [Filtered]="filtered.wearable"
                    [actions]="['click', 'click']"
                    [tableType]="'wearable'"
                    [initial]="initial.wearable"
                    [displayedColumns]="wearableDisplayedColumns"
                    [tableData]="wearableTableData"
                    ></app-table>
            </ng-container>
            <ng-container *ngIf="!filtered.wearable">
                <div *ngIf="!isLoading.wearable" fxLayoutAlign="center center" style="width: 100%; height: calc(100vh - 275px)">
                    <div class="display-card" fxLayoutAlign="center center">
                        <p class="text text-center m-0">There is no wearable added to this customer yet.Please add <strong>wearable</strong> for this customer</p>
                    </div>
                </div>
                <div class="preloader" *ngIf="isLoading.wearable" fxLayoutAlign="center center"
                        [ngStyle]="{'background-color': 'unset', position: 'unset', height: '350px'}">
                    <div class="spinner" [ngStyle]="{margin: 'unset', top: 'unset'}">
                        <img alt="loading.." src="assets/images/loading.gif" width="40px" height="40px" />
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
