<div class="page-breadcrumb">
	<div fxLayout="row wrap" fxLayoutAlign="space-between center">
		<div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" class="align-self-center">
			<div class="breadcrumb">
				<ul class="list-style-none d-flex">
					<li class="breadcrumb-item cursor-pointer" routerLink="/hq/dashboard">
						<span class="text-muted">Home</span>
					</li>
					<li class="breadcrumb-item active">Dashboard</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="main-section ssa-flow">
    <div fxLayout="row wrap">
        <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
            <app-quick-summary [type]="type" [forType]="forType"></app-quick-summary>
        </div>
    </div>
    <div fxLayout="row wrap">
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
            <app-user-statistics [type]="type" [forType]="forType"></app-user-statistics>
        </div>
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
            <app-resident-statistics [type]="type" [forType]="forType"></app-resident-statistics>
        </div>
    </div>
    <div fxLayout="row wrap">
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
            <app-battery-statistics [type]="type" [forType]="forType"></app-battery-statistics>
        </div>
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
            <app-residents-summary-dash [type]="type" [forType]="forType"></app-residents-summary-dash>
        </div>
    </div>
</div>