<div>
	<div>
		<title>NSD Release Notes</title>
	</div>
	<p><strong>Release: W2044 (02-Nov-2020)</strong></p>
	<p>Items Deployed</p>
		<ol>
			<li>Caregiver issues fixed</li>
			<ul>
				<li>Trend reports – no zero values in graph</li>
				<li>Level of activity</li>
				<ol>
					<li>One month timeline is removed</li>
					<li>X-axis value display is fixed</li>
				</ol>
				<li>Questionnaire and Physio tests graphs – X-axis defaulted to months</li>
				<li>Other UI fixes</li>
			</ul>
			<li>Facility and Ward Admin features </li>
			<ul>
				<li>User Interface Development - 90%</li>
				<li>Dashboard</li>
				<ul>
					<li>Resident Summary</li>
					<li>Caregiver Summary</li>
					<li>Wearables Summary</li>
				</ul>
				<li>Residents Listing</li>
				<li>Caregivers Listing</li>
				<li>Wearables Listing</li>
				<li>View Wards</li>
				<li>Add Ward</li>
				<li>View Caregivers - Facility & Ward Level</li>
				<li>Add Caregiver</li>
				<li>View Residents - Facility & Ward Level</li>
				<li>View Wearables - Facility & Ward Level</li>
				<li>Rooms Listing</li>
				<li>Bulk Manage Rooms - functionality implemented</li>
			</ul>
			<li>Role Based Access</li>
			<ul>
				<li>Ability to login by respective users</li>
			</ul>
			<li>Audit Log</li>
			<ul>
				<li>Create proper database structure to capture the Audit log info for generating dashboard reports and measuring required KPIs</li>
			</ul>
		</ol>
		<p>Work in progress</p>
		<ol>
			<li>Notifications Summary - Dashboard at both facility and ward level</li>
			<li>Phone number verification - cost assessment in progress</li>
			<li>Bulk management - Rooms</li>
			<li>Edit caregiver, room and ward feature</li>
		</ol>
		<p>Known Issues</p>
		<ol>
			<li>Rooms list – Resident name is not getting displayed</li>
		</ol>
	<p><strong>Release: W2043 (26-Oct-2020)</strong></p>
		<p>Items Deployed</p>
		<ol>
			<li>FWAdmin:</li>
			<ul>
				<li>Wearables Graph</li>
				<li>Bulk Room Inserts</li>
				<li>Pagination in listing pages</li>
				<li>Sorting based on columns in listing pages</li>
				<li>Last active time in caregiver summary</li>
			</ul>
			<li>Login:
				<ul>
					<li>Incorrect login error message</li>
					<li>Password reset</li>
				</ul>
			</li>
		</ol>
		<p>Work in progress</p>
		<ol>
			<li>Residents Summary</li>
			<li>Caregiver Summary</li>
			<li>Notifications Summary</li>
			<li>Caregiver multiselect</li>
			<li>Telepone number similar to Add Resident</li>
			<li>Filters</li>
			<li>Details for Wards screen</li>
			<li>Caregiver related dynamic columns</li>
			<li>Caregiver and resident mapping to wards during add residents</li>
			<li>Notifications optimisation</li>
		</ol>
	<p><strong>Release: W2042 (19-Oct-2020)</strong></p>
		<p>Items Deployed</p>
		<ol>
			<li>FWAdmin:</li>
			<ul>
				<li>Residents Listing</li>
				<li>Caregiver Listing</li>
				<li>Wearables Listing</li>
				<li>Facility and ward admin to be able to login</li>
				<li>Add ward</li>
				<li>View wards</li>
				<li>Add Caregiver</li>
				<li>View caregivers</li>
				<li>View residents</li>
				<li>View wearables</li>
				<li>Residents at Facility &amp; Ward level</li>
			</ul>
			<li>Role based access:
				<ul>
					<li>Ability to login by respective users</li>
					<li>Front end changes to handle role based login</li>
				</ul>
			</li>
			<li>Audit Log:
				<ul>
					<li>Create proper database structure to capture the Audit log info for generating dashboard reports and measuring required KPIs</li>
				</ul>
			</li>
			<li>Location Changes:
				<ul>
					<li>Track Location &ndash; Telit API integration POC</li>
				</ul>
			</li>
			<li>Caregiver:
				<ul>
					<li>No data found displayed in all graphs</li>
				</ul>
			</li>
		</ol>
		<p>Known Issues</p>
		<ol>
			<li>Caregiver:</li>
			<ul>
				<li>LOA data can be shown for a max of 7 days</li>
			</ul>
		</ol>
		<p>Work in progress</p>
		<ol>
			<li>Residents Summary</li>
			<li>Caregiver Summary</li>
			<li>Wearables Summary</li>
			<li>Notifications Summary</li>
			<li>Sorting of data listing</li>
			<li>Pagination for all pages</li>
			<li>Caregiver multiselect</li>
			<li>Telepone number similar to Add Resident</li>
			<li>Rooms bulk insert</li>
			<li>Filters</li>
			<li>Details for Wards screen</li>
			<li>Caregiver related dynamic columns</li>
			<li>Caregiver and resident mapping to wards during add residents</li>
			<li>Notifications optimisation</li>
		</ol>
</div>