
<div class="page-breadcrumb">
	<div fxLayout="row wrap" fxLayoutAlign="space-between center">
		<div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" class="align-self-center">
			<div class="breadcrumb">
				<ul class="list-style-none d-flex">
					<li class="breadcrumb-item cursor-pointer" routerLink="/facility/dashboard">
						<span class="text-muted">Dashboard</span>
					</li>
					<li class="breadcrumb-item active">Wearables</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="main-section p-24">
  	<div fxLayoutAlign="space-between center">
		<div class="popover__wrapper">
			<span class="second-title font-24 m-r-5">Wearables</span> 
			<mat-icon class="absolute help-text-hover-cont popover__title" style="color: #D3CDC6;cursor: pointer;position: absolute;top: 3px;">help_outline</mat-icon>
			<div class="popover__content lg_popover">
				<h4 class="second-title popover__heading m-b-10">Wearables</h4>
				<div class="popover__message">
					<p><strong>Total falls</strong><br/>Indicates the actual number of falls as recorded by the wearable.</p>
					<p><strong>Falls activity (per 1000 steps)</strong><br/>Indicates the number of falls as recorded by the wearable and is represented as a unit of number of 1000 steps.</p>
					<p><strong>Night walk activity(per caregiver)</strong><br/>Indicates the number of night walk alerts received from the wearable used by the resident.</p>
					<p><strong>Critically low battery activity(per caregiver)</strong><br/>Indicates the number of critical low battery alerts received from the wearable used by the resident.</p>
				</div>
			</div>
		</div>
	  <div class="commonaddpage" fxLayoutAlign="start center" fxLayoutGap="0.8em">
		  <form [formGroup]="filterForm" *ngIf="wardList.length > 0 && (beforeFilter.length > 0)">
			<div fxLayoutAlign="start center" fxLayoutGap="0.8em">
				<div class="form-field" style="width: 320px;">
					<mat-form-field appearance="outline">
						<mat-select value="" formControlName="ward_id" multiple (selectionChange)="getRoomValues()" #select>
							<input matInput class="select-search" type="text" placeholder="Search ward" formControlName="wardSearch" />
							<mat-select-trigger>
								<ng-container *ngIf="wardIds.length < 2 && wardIds.length > 0">
									<span>{{wardIds? (wardIds[0]=== '' ? 'Select ward' : getWardByID(wardIds[0])) : ''}}</span>
								</ng-container>
								<ng-container *ngIf="wardIds.length > 1">
									<ng-container *ngFor="let ward of wardIds;let i =index">
										<span class="selected" *ngIf="i < 2">{{getWardByID(ward)}}</span>
									</ng-container>
								</ng-container>
								<span *ngIf="wardIds?.length > 2" class="selected">
								(+{{wardIds.length - 2}} {{wardIds?.length === 3 ? 'other' : 'others'}})
								</span>
							  </mat-select-trigger>
							<mat-option disabled value="">Select ward</mat-option>
							<mat-option [value]="ward.id" *ngFor="let ward of getFilterWards()">{{ward.name}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-field" style="width: 322px;" *ngIf="((wardIds.length < 2 && wardIds.length > 0 && wardIds[0] !== '') || wardIds.length > 1) && showRoomFilter">
					<mat-form-field appearance="outline">
						<mat-select value="" formControlName="room_id" multiple #roomSelect>
							<input matInput class="select-search" type="text" placeholder="Search room" formControlName="roomSearch" />
							<mat-select-trigger>
								<ng-container *ngIf="roomIds.length < 2 && roomIds.length > 0">
									<span>{{roomIds? (roomIds[0]=== '' ? 'Select room' : getRoomByID(roomIds[0])) : ''}}</span>
								</ng-container>
								<ng-container *ngIf="roomIds.length > 1">
									<ng-container *ngFor="let ward of roomIds;let i =index">
										<span class="selected" *ngIf="i < 2">{{getRoomByID(ward)}}</span>
									</ng-container>
								</ng-container>
								<span *ngIf="roomIds?.length > 2" class="selected">
								(+{{roomIds.length - 2}} {{roomIds?.length === 3 ? 'other' : 'others'}})
								</span>
							  </mat-select-trigger>
							<mat-option disabled value="">Select room</mat-option>
							<mat-option [value]="room.id" *ngFor="let room of getFilterRooms()">{{room.name}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
		</form>
		<button mat-flat-button class="add-button" color="accent" (click)="clearFilters()" *ngIf="showClear()">
			Clear
		</button>
	  </div>
  </div>
  <ng-container *ngIf="isLoading">
	<div class="preloader" *ngIf="isLoading" fxLayoutAlign="center center"
			[ngStyle]="{'background-color': 'unset', position: 'unset', height: '350px'}">
		<div class="spinner" [ngStyle]="{margin: 'unset', top: 'unset'}">
			<img alt="loading.." src="assets/images/loading.gif" width="40px" height="40px" />
		</div>
	</div>
  </ng-container>
  <ng-container *ngIf="beforeFilter.length > 0">
	  <app-table (selectedValue)="navigate($event)" 
	  [isLoading]="isLoading"  
	  [actionEnable]="false"
	  [actions]="actions" [widths]="widths" 
	  [Filtered]="filtered"
	  [textRemove]="true"
	  [hoverAction]="[true]"
	  [displayedColumns]="displayedColumns" 
	  [tableData]="tableData"
	  [tableType]="'wearable'"
	  noDataMessage="Looks like you haven't added a Wearables">
	</app-table>
  </ng-container>
  <div *ngIf="beforeFilter.length < 1 && !isLoading" fxLayoutAlign="center center" style="width: 100%; height: calc(100vh - 275px)">
	<div *ngIf="tableData.length < 1" class="display-card" fxLayoutAlign="center center">
		<p class="text text-center m-0">There is no wearable added yet.Please add <strong>wearable</strong></p>
	</div>
  </div>
</div>
