
<div class="page-breadcrumb">
	<div fxLayout="row wrap" fxLayoutAlign="space-between center">
		<div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" class="align-self-center">
			<div class="breadcrumb">
				<ul class="list-style-none d-flex">
					<li class="breadcrumb-item cursor-pointer" routerLink="/wa/dashboard">
						<span class="text-muted">Dashboard</span>
					</li>
					<li class="breadcrumb-item active">Residents</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="main-section p-24">
  <h3 class="main-heading">Residents</h3>
  <app-table
    [actionEnable]="false"
	[widths]="widths"
	[isLoading]="isLoading"
    [displayedColumns]="displayedColumns"
	[tableData]="tableData"
	[tableType]="'resident'"
	[link]="false"
	noDataMessage="Looks like you haven't added a Residents"
  ></app-table>
</div>
