<!-- <ul class="timeline m-t-10" style="margin-left: 10%;background-color: #fff;">
    <mat-accordion class="">
        <li class="event {{notification.class}}" [ngClass]="{'opened': listExpanded === i}" *ngFor="let notification of notifications;let i=index">
            <mat-expansion-panel [expanded]="i=== listExpanded" style="background: none;box-shadow:none;">
                <mat-expansion-panel-header (click)="changeExpandedIndex(i)">
                    <mat-panel-title>
                        <p style="white-space: nowrap;width: calc(100% - 32px);overflow: hidden;text-overflow: ellipsis;" title="{{notification.title.length}}">{{notification.title}}</p>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="m-t-20">
                    <p><span>{{notification.title}}</span></p>
                </div>
                <div class="m-t-20">
                    <p></p>
                </div>
            </mat-expansion-panel>
            <p class="data-date">Jan 01</p>
            <div class="line"></div>
        </li>
    </mat-accordion>
</ul> -->