@import '../../../../assets/styles/variable.scss';

.age{
    color: $rock;
    font-weight: 500;
    font-size: 14px;
    margin-left: 16px;
}
.insight{
    border-left: 1px solid $border;
    height: calc(100vh - 145px);
    width: 23%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 70px;
    right: 20px;
}