

  <!--  <p>Session Expire is Click to logout</p>
    <div fxFlex="100" class="form-actions" fxLayoutAlign="end center">
          <button mat-button class="cancel" (click)="close()">Cancel</button>
          <button   mat-raised-button color="primary" class="submit" (click)="signout()" >Log Out</button>
    </div>-->
  <ng-container>
<div class="action-buttons" fxLayout="row nowrap" fxLayoutAlign="end center">
<p>Session Expire it will be singout</p>
          <!--  <button mat-button (click)="close()" class="cancel m-r-10">Cancel</button>
            <button mat-raised-button class="cancel m-r-10 text-white bg-primary "  (click)="signout()">logout
                
            </button>-->
        </div>
          </ng-container>

   