<form [formGroup]="activeForm">
    <div fxLayout="row wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <p class="arjoform-label">Password</p>
            <mat-form-field appearance="outline" style="width: 50%;">
                <input required matInput type="password" placeholder="Password" formControlName="password" />
            </mat-form-field>
            <small *ngIf="activeForm.controls['password'].hasError('required') && activeForm.controls['password'].touched" class="text-danger support-text">Password is required.</small>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <p class="arjoform-label">Confirm Password</p>
            <mat-form-field appearance="outline" style="width: 50%;">
                <input required matInput type="password" placeholder="Password" formControlName="cpassword" />
            </mat-form-field>
            <small *ngIf="activeForm.controls['cpassword'].hasError('required') && activeForm.controls['cpassword'].touched" class="text-danger support-text">Confirm password is required.</small>
            <small *ngIf="validate()" class="text-danger support-text">Confirm password should be same as password.</small>
        </div>
    </div>
</form>