// component css goes here
.reset-pwd-wrapper{
   min-width: 70%;
    min-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    video {
        top: 0;
        left: 0;
        position: absolute;
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        filter: blur(10px) grayscale(100%);
        z-index: 0;
    }

    .video-mask{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0);
        z-index: 1;
    }
    .reset-pwd-card{
        z-index: 3;
    }
}