<div class="login-register">
  <div class="login-register-box">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="resetForm" (submit)="onSubmit()">
          <div class="text-center">
            <img alt="homepage" src="assets/images/arjo-logo.svg" class="login-logo" />
            <h4 class="m-t-20">Reset Password</h4>

          </div>
          <div fxLayout="column" fxLayoutAlign="space-around">
            <div class="pb-1">
              <p class="m-b-0">Password</p>
              <mat-form-field style="width: 100%;" appearance="outline">
                <input required matInput type="password" matInput placeholder="Password"  formControlName="password">
              </mat-form-field>
              <small *ngIf="(resetForm.get('password').hasError('required') || resetForm.get('password').hasError('hasCapitalCase')) && (resetForm.get('password').dirty || resetForm.get('password').touched)" class="text-danger support-text">Must contain at least 1 Letter in Upper Case!</small>
              <small *ngIf="(resetForm.get('password').hasError('required') || resetForm.get('password').hasError('hasSmallCase')) && (resetForm.get('password').dirty || resetForm.get('password').touched)" class="text-danger support-text">Must contain at least 1 Letter in Lower Case!</small>
              <small *ngIf="(resetForm.get('password').hasError('required') || resetForm.get('password').hasError('hasSpecialCharacters')) && (resetForm.get('password').dirty || resetForm.get('password').touched)" class="text-danger support-text">Must contain at least 1 Letter in Special Characters!</small>
              <small *ngIf="(resetForm.get('password').hasError('required') || resetForm.get('password').hasError('hasNumber')) && (resetForm.get('password').dirty || resetForm.get('password').touched)" class="text-danger support-text">Must contain at least 1 Letter in Number!</small>
            </div>
            <div class="pb-1">
              <p class="m-b-0">Confirm Password</p>
              <mat-form-field style="width: 100%;" appearance="outline">
                <input type="password" matInput placeholder="Confirm Password" formControlName="confirm_password">
              </mat-form-field>
              <small *ngIf="(resetForm.get('confirm_password').hasError('NoPassswordMatch') || resetForm.get('confirm_password').hasError('confirm_password')) && (resetForm.get('confirm_password').dirty || resetForm.get('confirm_password').touched)" class="text-danger support-text">Password do not match</small>
            </div>
            <div>
              <button type="submit" mat-button class="btn-block btn-lg m-t-20" color="primary" mat-raised-button
                [disabled]="resetForm.invalid || isLoading">Submit

                <mat-spinner *ngIf="isLoading" color="primary" class="inner-spinner" [mode]="'indeterminate'"
                  diameter="20">
                </mat-spinner>
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
