.footer {
    padding: 0px 24px;
    height: 72px;
    background: $pearl;
    box-shadow: 0 -1px 0 0 #d1d1d1;
    margin-top: 2px;
    color: $lava;
    .footer-list{
        list-style: none;
        li{
            display: inline-block;
            margin: 0 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}